.contact-links{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 40%;
    left: 38%;
}

.contact-links a{
    text-decoration: none;
    color: black;
    font-size: 1.17rem;
    margin-bottom: 1rem;
}

@media (max-width: 430px){
    .contact-links{
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 76%;
        left: 32%;
    }

    .contact-links a{
        text-decoration: none;
        color: black;
        font-size: 0.7rem;
        margin-bottom: 1rem;
    }
    .contact-links h1{
        font-size: 0.9rem;
    }
}