#home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  position: relative;
}

.homepage-img img {
  height: 250px;
  width: 200px;
}

.homepage-content {
  width: 40%;
  margin: 20px;
}

#contact{
  position: relative;
}

.home-down-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.contact-content{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 40%;
  left: 40%;
}

.down-icon {
  font-size: 60px;
  transition: color;
}

.rotate-left{
  animation: moveleft 2s forwards;
}

.home-page-title-effect{
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  font-size: 32px;
}

@keyframes moveleft{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100px);
  }
}

.rotate-right{
  animation: moveright 2s forwards;
}

@keyframes moveright{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(100px);
  }
}

@media (max-width: 430px) {
  .rotate-left{
    animation: none;
  }

  .rotate-right{
    animation: none;
  }
}