.links{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: -10px;
    left: 5%;
    padding: 10px;
    z-index: 1000;
}

.links a{
    margin: 10px auto;
    font-size: 22px;
    color: black;
}

.links a:hover{
    font-weight: bolder;
    color: rgb(205, 209, 170);
}

.strip{
    background-color: black;
    width: 1px;
    height: 150px;
}

.email {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: -10px;
    right: 5%;
    padding: 10px;
    z-index: 1000;
}

.email a{
    writing-mode: vertical-rl;
    text-decoration: none;
    margin: 5px auto;
    color: black;
}

.email a:hover{
    font-weight: bolder;
}